footer { 
    margin: 0;
    padding: 0;
    margin-top: 0 auto;
    overflow: hidden;
    /*border: 2px solid #e7e7e7;*/
    /*background-color: #f3f3f3;*/
    background-color: #fff;
    display: block;
    list-style-type: none;
    text-align: center;
    clear:both;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    /*background-color: #f3f3f3;*/

}

/*html *
{
   font-family: Arial !important;
}*/


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p.footer {
    display: block;
    color: #666;
    text-align: center;
    
    text-decoration: none;
}